body{
    background-color: rgb(146, 106, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#search{
    width: 100%;
}
.task-manager{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 8px 30px 3px rgba(66, 68, 90, 1);
}

#taskList{
    list-style-type: none;
    padding: 0;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 5px;
}

.task-input, .date-input{
    flex: 1;
    margin-right: 10px;
    margin-left: 20px;
    border: none;
    background: none;
    border-bottom: 1px solid #ddd;
    outline: none;
}
.task-input:focus, .date-input:focus{
    border-bottom: 1px solid #000;
}

.add-task{
    margin-top: 10px;
}
.add-task input{
    margin-bottom: 5px;
}

.highlight{
    background-color: yellow;
    font-weight: bold;
}